body{
    font-family: Arial, Helvetica, sans-serif;
}
    h1 {
        color:cyan ;
    }
    img {
        width: 300px;
    }
#thridDiv {
    height: 600px;
    width: 500px;
    background-color: blueviolet;
    border: 10px dashed #ff0000;
    padding: 50px;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
head{
    background-color: black;
    text-align: center;
}
header{
    color: royalblue;
}